// .allRecipes {
//     display: flex;
//     flex-direction: row;

// }

// .singleRec {
//     margin-left: 5%;
// }

.custom-paginator .mat-paginator-page-size {
    display: none;
}
::ng-deep .mat-mdc-paginator-container{
    direction: ltr !important;
    align-items: center !important;
    justify-content: right !important;

}

// ::ng-deep .custom-paginator .mat-paginator-page-size {
//     display: none;
// }

// .filters {
//     display: flex;
//     flex-direction: row;
//     direction: rtl;
// }

.timeFilter {
    padding-top: 2%;
}

.levelFilter {
    padding-top: 2%;

}

.categoryFilter {
    padding-top: 2%;

}

// .cancleFilter {
//     margin-right: 3%;

// }
.filters {
    display: flex;
    justify-content: space-around;
    background-color: #e6e6e6c4;
    // margin-bottom: 20px;
}

// .allRecipes {
//     margin-top: 20px;
// }

// mat-grid-tile {
//     padding: 10px;
// }

mat-form-field {
    width: 100%;
}

.cancleFilter {
    padding-top: 2%;
}

h3 {
    text-align: center;
    color: #ff0000;
}
h4{
        text-align: center;

}