<form ngForm #myForm="ngForm">
  <div class="center-container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>התחברות</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div ngModelGroup="email" class="example-container">
          <mat-form-field>
            <mat-label>הקש מייל</mat-label>
            <input type="text" name="email" ngModel #emailModel="ngModel" matInput placeholder="email@gmail.com"
              required>
            @if (email.invalid) {
            <mat-error>שדה חובה</mat-error>}
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field>
            <mat-label>הקש סיסמה</mat-label>
            <input type="password" name="password" ngModel #passwordModel="ngModel" matInput
              [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordModel.errors">שדה חובה</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <p class="error-message">{{errorMessage}}</p>
      <mat-card-actions>
        <div class="example-button-row">
          <button (click)="singIn(myForm)" [disabled]="myForm.invalid" mat-flat-button color="primary">כניסה</button>
          <button (click)="moveToSignUp(myForm)" mat-flat-button color="primary">הרשמה</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

</form>