<mat-tab-group class="navBar" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="המתכונים שלנו"></mat-tab>
    <ng-container *ngIf="userService.token">
        <mat-tab label="שיתוף מתכון"></mat-tab>
        <mat-tab label="המתכונים שלי"></mat-tab>
    </ng-container>
    <mat-tab label="התחברות"></mat-tab>
    <ng-container *ngIf="userService.token">
        <mat-tab label="התנתקות" (click)="logout()"></mat-tab>
    </ng-container>
    <mat-tab label="הרשמה"></mat-tab>
</mat-tab-group>
<!-- <p *ngIf="user!=={}"> {{user.userName}}</p>
<mat-icon>user</mat-icon> -->
<div  class="user">
    <p>{{ user && user.userName ? user.userName : 'אורח' }}</p>
    <mat-icon>person</mat-icon>

</div>


<router-outlet></router-outlet>